/UNIT01/build/
/nbproject/private/
/UNIT01/dist/
/unit04_as_students/nbproject/private/
/unit04_as_students/build/
/unit04_as_students/dist/
/u06-lab03-ejb/build/
/u06-lab03-ejb/nbproject/private/
/u06-lab03-jsf/build/
/u06-lab03-jsf/nbproject/private/
/u06-lab03-lib/build/
/u06-lab03-lib/dist/
/u06-lab03-lib/nbproject/private/
/u06-lab2-ea/build/
/u06-lab2-ea/dist/
/u06-lab2-ea/nbproject/private/
/u06-lab2-jsf/build/
/u06-lab2-jsf/dist/
/u06-lab2-jsf/nbproject/private/
/u06-lab2/build/
/u06-lab2/dist/
/u06-lab2/nbproject/private/
/u06/build/
/u06/nbproject/private/
/ea_unit05_as_students/ea_unit05_as_students/target/
/unit05/nbproject/private/
/unit05/build/
/unit05/dist/